In [8]:
import pandas as pd

In [11]:
DF=pd.DataFrame([2,4],[6,8])
sr=pd.DataFrame(pd.Series([2,4]))

In [12]:
DF/sr

    0
0 NaN
1 NaN
6 NaN
8 NaN