In [43]:
import pandas as pd
df1=pd.read_csv('economics.csv',encoding='cp949')
#print(df1)
day=df1['데이터수집월'].str.replace(' ','')
df1['연도']=day.str[:4]
df1.groupby('연도')['실업자수_천명'].mean().sort_values()
vv=df1[df1['연도']=='2010']['실업자수_천명']/10
round(vv.var(),2)

1111.35

In [56]:
df2=pd.read_csv('Airline.csv',encoding='cp949')

df2['Ages'].replace({'[40, 50)':'40_49','[50, 60)':'50_59','[10, 20)':'10_19','[20, 30)':'20_29'},inplace=True)
max_age=df2.groupby('Ages')['Departure_Delay_in_Minutes'].mean().sort_values(ascending=False).index[0]
len(df2[(df2['Ages']==max_age)&(df2['Customer_Type']=='L')])

1101

In [87]:
df3=pd.read_csv('spb_daily.csv',encoding='cp949')
df3['대여소번호']=df3['대여소번호'].str.replace(' ','')
df3=df3[df3['대여소번호'].str[0]=='4']
max_num=df3.groupby(df3['대여소번호'])['이용거리'].sum().sort_values(ascending=False).index[0]
max_num

'420'

0       438
2       441
3       427
4       427
12      479
       ...
2604    433
2607    431
2608    445
2615    442
2618    481
Name: 대여소번호, Length: 943, dtype: int32