### [ 멀티인덱스]
-2개 이상의 행과 열로 구성된 인덱스

In [115]:
# [1] 모듈로딩
import pandas as pd
import df_util as util

In [116]:
# [2] 데이터준비
file1='test_data.csv'
file2='test_data2.csv'

In [117]:
# [3] CSV ==> DataFrame 으로 저장
df1=pd.read_csv(file1)
df2=pd.read_csv(file2)

In [118]:
# [4] 데이터 확인 => 기본정보
util.checkDataFrame(df1,'df1')
util.checkDataFrame(df2,'df2')

df1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   10 non-null     object
 1   col1    10 non-null     int64
 2   col2    10 non-null     int64
 3   col3    10 non-null     int64
dtypes: int64(3), object(1)
memory usage: 448.0+ bytes
[index] : RangeIndex(start=0, stop=10, step=1)
[columns] : Index(['index', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2

df2
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lv0     5 non-null      object
 1   lv1     5 non-null      object
 2   lv2     5 non-null      object
 3   col1    5 non-null      int64
 4   col2    5 non-null      int64
 5   col3    5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes
[index] : RangeIndex(start=0, stop=5, step=1)
[columns] : Index(['lv0', 'lv1', 'lv2', 'col1', 'col2', 'col3'], dtype='object')
[ndim] : 2

In [119]:
# [5] 행 인덱스 설정
# [5-1] df1의 첫번째 컬럼을 행인덱스로 설정 ==> set_index[컬럼]) 
df11=df1.set_index('index')
df11.index.name=None # df11의 index명 index를 지워줘!
df11.index

# 'A'행 데이터 추출
df11.loc['A']

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4

In [120]:
# 'A', 'C' 행 추출
df11.loc[['A','C']]

   col1  col2  col3
A     8     6     5
A     1     8     7
A     3     1     4
C     8     4     3
C     8     2     0
C     8     8     6
C     5     5     6

In [121]:
# [5-2] df1의 첫번째 컬럼을 행인덱스로 설정 ==> set_index([컬럼1,컬럼2]) df12=df1.set_index(['index','col1'])
df12.index.name=None 
df12.index

# 'A'행 데이터 추출
df12.loc[('A',8)]

C:\Users\KDP-30\AppData\Local\Temp\ipykernel_13976\1299461617.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('A',8)]

            col2  col3
index col1
A     8      6.0   5.0

In [122]:
# ('A',8), ('A',1) 행 추출
df12.loc[[('A',8),('A',1)]]

            col2  col3
index col1
A     8      6.0   5.0
      1      8.0   7.0

In [123]:
# 멀티인덱스 속성을 확인
midx=df12.index

print(f'nlevels : {midx.nlevels}')
print(f'levels : {midx.levels}')
print(f'names : {midx.names}')

# midx.names=[None,None]           # 인덱스 이름 둘다 지워 줘!
# print(f'names = {midx.names}')
# midx.name[0]='A'
midx.set_names('a',level=0)

nlevels : 2
levels : [['A', 'B', 'C', 'D', 'f', 'AA'], [1, 2, 3, 4, 5, 8, 9, 100]]
names : ['index', 'col1']

MultiIndex([( 'A',   8),
            ( 'C',   8),
            ( 'C',   8),
            ( 'A',   1),
            ( 'B',   2),
            ( 'B',   4),
            ( 'C',   8),
            ( 'C',   5),
            ( 'B',   3),
            ( 'A',   3),
            ( 'D',   9),
            ( 'f', 100),
            ('AA', 100)],
           names=['a', 'col1'])

In [124]:
# 멀티인덱스에서 lovel0이 동일한 행 추출
df12.loc['A']

      col2  col3
col1
8      6.0   5.0
1      8.0   7.0
3      1.0   4.0

In [125]:
# 멀티인덱스에서 lovel1이 동일한 행 추출
#df12.loc[8]       #ERROR발생
df12.xs(8,level=1)

       col2  col3
index
A       6.0   5.0
C       4.0   3.0
C       2.0   0.0
C       8.0   6.0

In [126]:
# 멀티인덱스에서 행 추가
# -인덱스에 행 추가 => 변수명.loc[행인덱스]=값
df12.loc[('D',9),:] =[9,9]

C:\Users\KDP-30\AppData\Local\Temp\ipykernel_13976\2597789178.py:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('D',9),:] =[9,9]

In [127]:
sr1=pd.Series({'col2':10,"col3":10})
sr1.index=['D',9]

In [128]:
df12.loc[('AA',100),:]=[sr1] # 이터러블이 아니라는 경고! 리스트로 만들어주면 해결
df12                                    # 인덱스가 유일하지 않아서 생기는 일

C:\Users\KDP-30\AppData\Local\Temp\ipykernel_13976\1797037754.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df12.loc[('AA',100),:]=[sr1] # 이터러블이 아니라는 경고! 리스트로 만들어주면 해결

            col2  col3
index col1
A     8      6.0   5.0
C     8      4.0   3.0
      8      2.0   0.0
A     1      8.0   7.0
B     2      0.0   7.0
      4      2.0   4.0
C     8      8.0   6.0
      5      5.0   6.0
B     3      3.0   6.0
A     3      1.0   4.0
D     9      9.0   9.0
f     100   10.0  10.0
AA    100   10.0  10.0