### [ 데이터의 정보 확인 - 통계메서드 ]
- 데이터의 컬럼별 분포 및 틍징을 파악하기 위해서 사용
- 데이터 기본적인 분석에 활용

In [ ]:
# [1] 모듈준비
import pandas as pd

In [ ]:
# [2] 데이터 준비
file_name='auto_mpg.csv'

In [ ]:
# [3] CSV 데이터 ==> DataFrame 형태로 저장
mpgDF=pd.read_csv(file_name)
mpgDF

In [ ]:
#[4] 데이터 확인
# - 기본정보 확인
mpgDF.info()

In [ ]:
# - 컬럼과 실제 데이터 타입 확인
print(mpgDF.head(),mpgDF.tail(),sep='\n\n')

In [ ]:
# [5] 데이터관련 통계 메서드
# - 평균
mpgDF.mean(numeric_only=True)   #숫자만 계산해주세요!

In [ ]:
# - 합계
mpgDF.sum(numeric_only=True)

In [ ]:
# - 중앙값
mpgDF.median(numeric_only=True)

In [ ]:
# - 최빈값
mpgDF.mode(numeric_only=True)

In [ ]:
mpgDF['weight'].mode()  #최빈값이 두개!

In [ ]:
# - 고유값
mpgDF['origin'].unique() , mpgDF['origin'].value_counts()

In [39]:
mpgDF['horsepower'].unique() , mpgDF['horsepower'].value_counts()

(array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
        '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
        '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
        '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
        '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
        '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
        '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
        '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
        '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
        '64', '74', '116', '82'], dtype=object),
 horsepower
 150    22
 90     20
 88     19
 110    18
 100    17
        ..
 61      1
 93      1
 148     1
 152     1
 82      1
 Name: count, Length: 94, dtype: int64)

In [38]:
# 컬럼들의 관계 정도를 수치화 나타낸것
mpgDF.corr(numeric_only=True)

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000