### [ 데이터 표준화 ]
- 수집된 데이터를 동일한 형태로 맞추어 주는 것
- 단위변환, 자료형 변환

In [77]:
# [1] 모듈준비
import pandas as pd

In [78]:
# [2] 데이터 준비
file_name='auto_mpg.csv'

In [79]:
# [3] CSV 데이터 ==> DataFrame 형태로 저장
mpgDF=pd.read_csv(file_name)
mpgDF

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [80]:
#[4] 데이터 확인
# - 기본정보 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [81]:
# - 컬럼과 실제 데이터 타입 확인
print(mpgDF.head(),mpgDF.tail(),sep='\n\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

      mpg  cylinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin         car name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [82]:
# [5] 데이터 전처리
# [5-1] 결측치 체크
#mpgDF.isna()    <= 너무많아!!!
mpgDF.isna().sum()       # 합으로 개수만 확인

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [83]:
# [5-2] 중복데이터
mpgDF.duplicated().sum()

0

In [84]:
# [5-3] 단위변환 표준화 mpg===> kmpL 컬럼추가
mpgDF['kpl']=mpgDF['mpg']*0.425

In [85]:
mpgDF.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpl
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,7.650
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,6.375
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,7.650
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,6.800
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,7.225

In [86]:
# - [5-4] 자료형 변환 표준화
# - horsepower object=> int
# mpgDF['horsepower].astype('int64)
mpgDF['horsepower'].value_counts()['?']     #물음표 몇개인데?

6

In [87]:
mpgDF[mpgDF['horsepower']=='?'].index

Index([32, 126, 330, 336, 354, 374], dtype='int64')

In [88]:
# 데이터를 변경해주는 메서드 => replace()
import numpy as np
mpgDF['horsepower'].replace('?',np.nan,inplace=True)

C:\Users\KDP-30\AppData\Local\Temp\ipykernel_10204\2465427511.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mpgDF['horsepower'].replace('?',np.nan,inplace=True)

In [89]:
mpgDF.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
kpl             0
dtype: int64

In [94]:
mpgDF2=mpgDF.dropna().copy()
mpgDF2.info

<bound method DataFrame.info of       mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name     kpl
0            70       1  chevrolet chevelle malibu   7.650
1            70       1          buick skylark 320   6.375
2            70       1         plymouth satellite   7.650
3            70       1              amc rebel sst   6.800
4            70       1                ford torino   7.225
..          ...     ...                        ...     ...
393          82       1            ford mustang gl  11.475
394          82       2                  vw pickup  18.700
395          82       1              dodge rampage  13.600
396          82       1                ford ranger  11.900
397          82       1                 chevy s-10  13.175

[392 rows x 10 columns]>

In [96]:
mpgDF2['horsepower']=mpgDF2['horsepower'].astype('int64')
# 위에서 copy 안해주면 오류생길수도잇으니 copy 해줘!

In [97]:
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 33.7+ KB

In [98]:
# [5-5] 컬럼별 데이터의 특성을 확인한 후 자료형 변환 표준화
# - 'cylinders' ==> 데이터를 분류/그룹 가능 ==> 범주형
# - 'origin'    ==> 데이터를 분류/그룹 가능 ==> 범주형
mpgDF2['cylinders']=mpgDF2['cylinders'].astype('category')
mpgDF2['origin']=mpgDF2['origin'].astype('category')

In [99]:
mpgDF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: category(2), float64(4), int64(3), object(1)
memory usage: 28.7+ KB

In [110]:
# [5-5] 컬럼별 데이터의 특성을 확인한 후 데이터 변환
# - 'horsepower' ==> 저출력-일반출력-고출력 ==> 범주형 : cut() 메서드
hp=pd.cut(mpgDF2['horsepower'],
        bins=3,
        labels=['저출력','일반출력','고출력'])
# bins : 구간 몇개할껀데?
# retbins: 구간 알려죠!

In [111]:
mpgDF2['horsepower_range']=hp