In [14]:
def menu():
    print('-'*40)
    print('1. 전체 데이터 출력')
    print('2. 수도 이름 오름차순 출력')
    print('3. 모든 도시의 인구수 내림차순 출력')
    print('4. 특정 도시의 정보 출력')
    print('5. 대륙별 인구수 계산 및 출력')
    print('6. 프로그램 종료')
    print('-'*40)

In [15]:
def code1(table):
    num=1
    for i in table:
        print(f'[{num}] {i}: {table[i]}')
        num+=1

In [16]:
def code1(table):
    sorted(table,key=lambda x:x.keys())

In [17]:
Table={'Seoul':['South Korea','Asia',9655000],
       'Tokyo':['Japan','Asia',14110000],
       'Beijing':['China','Asia',21540000],
       'London':['United Kingdom','Europe',14800000],
       'Berlin':['Germany','Europe',3426000],
       'Mexico City':['Mexico','America',21200000]}

In [18]:
inp_num=0
while True:
    menu()
    inp_num=input('메뉴를 입력하세요: ')
    if inp_num==1:
        code1(Table)
    if inp_num==2:
        code2(Table)

    elif inp_num==6:
        break

----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------
----------------------------------------
1. 전체 데이터 출력
2. 수도 이름 오름차순 출력
3. 모든 도시의 인구수 내림차순 출력
4. 특정 도시의 정보 출력
5. 대륙별 인구수 계산 및 출력
6. 프로그램 종료
----------------------------------------

In [ ]:
Table.keys()

dict_keys(['Seoul', 'Tokyo', 'Beijing', 'London', 'Berlin', 'Mexico City'])