In [8]:
import pandas as pd

cardf = pd.read_csv('Cars93.csv',encoding='cp949')
large=cardf[cardf.Type=='Large']
small=cardf[cardf.Type=='Small']
round(large.Price.mean()-small.Price.mean(),2)

13.84

In [7]:
import pandas as pd
dicedf=pd.read_csv('dices.csv',encoding='cp949')

import numpy as np
int(500/6)

83

In [ ]:
dicedf.scale==3

     trial  scale
0        1      2
1        2      3
2        3      2
3        4      1
4        5      2
..     ...    ...
495    496      3
496    497      3
497    498      1
498    499      4
499    500      2

[500 rows x 2 columns]