### [Sereis & DataFrame 연산]

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [7]:
# [2] 데이터 준비
file_name='data1.csv'

In [9]:
# [3] CSV File ==>  DataFrame 형태 저장
csvDF=pd.read_csv(file_name,header=None)
csvDF

    0   1   2
0  10  20  30
1  10  60  90
2  92  30  13
3  91  23  28
4  89  22  28

In [12]:
# [4] 연산 실습
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행
result=csvDF[0]+csvDF[2]

In [13]:
# 0번 컬럼~2번 컬럼까지의 덧셈 수행
result=csvDF[0]+csvDF[1]+csvDF[2]
result

NameError: name 'csv' is not defined

In [15]:
# 3개 컬럽 덧셈 결과를 새로운 컬럼으로 추가
csvDF['Total']=result
csvDF

    0   1   2  Total
0  10  20  30     40
1  10  60  90    100
2  92  30  13    105
3  91  23  28    119
4  89  22  28    117

In [20]:
# 행 5추가 => 데이터 : 각 컬럼의 값을 모두 더한 값
result2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
result2

0        292
1        155
2        189
Total    481
dtype: int64

In [22]:
csvDF.loc[5]=result
csvDF

     0    1    2  Total
0   10   20   30     40
1   10   60   90    100
2   92   30   13    105
3   91   23   28    119
4   89   22   28    117
5  292  155  189    481

In [25]:
# [5] 연산수행 메서드 : 합계 sum(), 최댓값 max(), 최솟값 min()
SR0=csvDF[0]
print(SR0)
print('합  계 : ',SR0.sum())
print('최댓값 : ',SR0.max())
print('최솟값 : ',SR0.min())

0     10
1     10
2     92
3     91
4     89
5    292
Name: 0, dtype: int64
합계 :  584

In [26]:
# DataFrame으로 연산수행 메서드
csvDF

     0    1    2  Total
0   10   20   30     40
1   10   60   90    100
2   92   30   13    105
3   91   23   28    119
4   89   22   28    117
5  292  155  189    481

In [29]:
# 각 행데이터를 모아서 결과값 계산. 그래서 각 컬럼마다 행들을 모아서 계산 수행
print('합  계 : ',csvDF.sum())
print('최댓값 : ',csvDF.max())
print('최솟값 : ',csvDF.min())

합  계 :  0        584
1        310
2        378
Total    962
dtype: int64
최댓값 :  0        292
1        155
2        189
Total    481
dtype: int64
최솟값 :  0        10
1        20
2        13
Total    40
dtype: int64

In [30]:
# 각 컬럼 데이터를 모아서 결과값 계산. 그래서 행마다 컬럼들을 모아서 계산 수행
print('합  계 : ',csvDF.sum(axis=1))
print('최댓값 : ',csvDF.max(axis=1))
print('최솟값 : ',csvDF.min(axis=1))

합  계 :  0     100
1     260
2     240
3     261
4     256
5    1117
dtype: int64
최댓값 :  0     40
1    100
2    105
3    119
4    117
5    481
dtype: int64
최솟값 :  0     10
1     10
2     13
3     23
4     22
5    155
dtype: int64

### 연산과 데이터 추출
-연산결과와 데이터 추출 함께 진행

In [39]:
# Total이 100이상인 데이터만 추출
# 비교 연산 결과 ==> True/False : Boolean Index
bool_Index=csvDF.Total>100

In [41]:
# Boolean Index 즉, 인덱스로 틀정 데이터 추출에 사용 가능
# csvDF[컬럼인덱스], csvDF.iloc[행인덱스], csvDF.loc[행인덱스]
csvDF[bool_Index]

     0    1    2  Total
2   92   30   13    105
3   91   23   28    119
4   89   22   28    117
5  292  155  189    481