## 2절 날짜시간 데이터 다루기
### 데이터 타입

In [1]:
import pandas as pd

# 데이터프레임 불러오기
df=pd.read_csv('../예제/University_date.csv',encoding='CP949')
df['창립일']

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [2]:
# pandas.to_datetime()
# 문자열-> datetime형
pd.to_datetime(df['창립일'])    # 구문분석자동

0   1946-10-15
1   1971-02-16
2   2007-09-03
3   1986-12-03
4   1905-05-05
5   1993-11-17
6   1946-05-15
7   1969-12-24
8   1946-05-15
Name: 창립일, dtype: datetime64[ns]

In [3]:
# 문자열 -> datetime형
pd.to_datetime(df['창립일'],format='%Y-%m-%d')  # '네자리연도- 월-일'로 구문분석

0   1946-10-15
1   1971-02-16
2   2007-09-03
3   1986-12-03
4   1905-05-05
5   1993-11-17
6   1946-05-15
7   1969-12-24
8   1946-05-15
Name: 창립일, dtype: datetime64[ns]

In [4]:
# 기존의 창립일 열을 datetime형을 변환
df['창립일']=pd.to_datetime(df['창립일'])

In [5]:
# 시계열 생성
# 2000년 1월 1일부터 2000년 1월 10일 까지 1일 단위로 생성
pd.date_range('2000-01-01','2000-01-10')

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# 2000년 1월 1일부터 1일씩 증가 (3번반복)
pd.date_range('2000-01-01',periods=3)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03'], dtype='datetime64[ns]', freq='D')

In [7]:
# 2000년 1월부터 1달씩 증가(5번반복)
# 각 달의 마지막 날짜가 반환됨 (freq='m')
pd.date_range('2000-01-01',periods=5,freq='m')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31'],
              dtype='datetime64[ns]', freq='M')

### 데이터 전처리

In [9]:
# 데이터프레임을 불러와 기존의 창립일 열을 datetime형으로 변환
df=pd.read_csv('../예제/University_date.csv',encoding='CP949')
df['창립일']=pd.to_datetime(df['창립일'])

# 메소드 dt의 하위 메소드를 통한 날짜와 시간에 대한 정보를 확인
# dt.date : 날짜정보(연월일)
df['창립일'].dt.date

0    1946-10-15
1    1971-02-16
2    2007-09-03
3    1986-12-03
4    1905-05-05
5    1993-11-17
6    1946-05-15
7    1969-12-24
8    1946-05-15
Name: 창립일, dtype: object

In [10]:
# dt.year : 연도
df['창립일'].dt.year

0    1946
1    1971
2    2007
3    1986
4    1905
5    1993
6    1946
7    1969
8    1946
Name: 창립일, dtype: int32

In [11]:
# dt.month : 월
df['창립일'].dt.month

0    10
1     2
2     9
3    12
4     5
5    11
6     5
7    12
8     5
Name: 창립일, dtype: int32

In [12]:
# dt.month_name() : 월이름
df['창립일'].dt.month_name()

0      October
1     February
2    September
3     December
4          May
5     November
6          May
7     December
8          May
Name: 창립일, dtype: object

In [13]:
# dt.day : 일
df['창립일'].dt.day

0    15
1    16
2     3
3     3
4     5
5    17
6    15
7    24
8    15
Name: 창립일, dtype: int32

In [14]:
# dt.weekday : 요일번호
df['창립일'].dt.weekday

0    1
1    1
2    0
3    2
4    4
5    2
6    2
7    2
8    2
Name: 창립일, dtype: int32

In [15]:
# dt.day_name() : 요일 이름
df['창립일'].dt.day_name()

0      Tuesday
1      Tuesday
2       Monday
3    Wednesday
4       Friday
5    Wednesday
6    Wednesday
7    Wednesday
8    Wednesday
Name: 창립일, dtype: object

In [16]:
# dt.quarter : 분기
df['창립일'].dt.quarter

0    4
1    1
2    3
3    4
4    2
5    4
6    2
7    4
8    2
Name: 창립일, dtype: int32

In [ ]:
# weekofyear: 연도기준 주
#df['창립일'].dt.weekofyear
# 없어짐

In [19]:
# dayofyear : 연도기준 일
df['창립일'].dt.dayofyear

0    288
1     47
2    246
3    337
4    125
5    321
6    135
7    358
8    135
Name: 창립일, dtype: int32

In [20]:
# daysinmonth : 해당 월의 총 일수
df['창립일'].dt.daysinmonth

0    31
1    28
2    30
3    31
4    31
5    30
6    31
7    31
8    31
Name: 창립일, dtype: int32

In [21]:
# 2022-06-01 16:30:05부터 1초씩 증가 (10번 반복)하는 시계열 생성
sr=pd.Series(pd.date_range('2022-06-01 16:30:05',periods=5,freq='s'))
sr

0   2022-06-01 16:30:05
1   2022-06-01 16:30:06
2   2022-06-01 16:30:07
3   2022-06-01 16:30:08
4   2022-06-01 16:30:09
dtype: datetime64[ns]

In [22]:
# dt.time : 시간정보 (시분초)
sr.dt.time

0    16:30:05
1    16:30:06
2    16:30:07
3    16:30:08
4    16:30:09
dtype: object

In [23]:
# dt.minute : 분
sr.dt.minute

0    30
1    30
2    30
3    30
4    30
dtype: int32

In [24]:
# dt.second : 초
sr.dt.second

0    5
1    6
2    7
3    8
4    9
dtype: int32