## 데이터 스케일링
### 표준화

In [1]:
import pandas as pd 
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler

# iris 데이터셋 호출
iris=load_iris()
data=pd.DataFrame(iris.data,columns=iris.feature_names) # 데이터프레임 변환

# 표준 스케일러 객체 생성
std_scale=StandardScaler()

# 표준화 데이터로 변환
data_std=std_scale.fit_transform(data)
data_std=pd.DataFrame(data_std,columns=iris.feature_names)  # 데이터프레임 변환
data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0          -0.900681          1.019004          -1.340227         -1.315444
1          -1.143017         -0.131979          -1.340227         -1.315444
2          -1.385353          0.328414          -1.397064         -1.315444
3          -1.506521          0.098217          -1.283389         -1.315444
4          -1.021849          1.249201          -1.340227         -1.315444

### 정규화

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [4]:
# iris 데이터셋 호출
iris=load_iris()
data=pd.DataFrame(iris.data,columns=iris.feature_names) # 데이터프레임 변환

# 최소최대 스케일러객체 생성
mm_scale=MinMaxScaler()

# 정규화 데이터로 변환
data_std=mm_scale.fit_transform(data)
data_std=pd.DataFrame(data_std,columns=iris.feature_names)  # 데이터프레임 변환
data_std.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           0.222222          0.625000           0.067797          0.041667
1           0.166667          0.416667           0.067797          0.041667
2           0.111111          0.500000           0.050847          0.041667
3           0.083333          0.458333           0.084746          0.041667
4           0.194444          0.666667           0.067797          0.041667