In [41]:
import pymysql
import pandas as pd
import csv

In [42]:
conn=pymysql.connect(host='localhost',user='root',password='1234',db='sakila',charset='utf8')
cur=conn.cursor() #<= 내용만 들고와!
#cur= conn.cursor(pymysql.cursors.DictCursor) #<= 컬럼명도 들고와!

In [43]:

cur.execute('select * from language') # 쿼리 작성

6

In [44]:
desc=cur.description # 헤더정보 가져옴
for i in range(len(desc)):
    print(desc[i][0],end=' ')
print()

language_id name last_update

In [45]:
rows=cur.fetchall() # 모든 데이터를 가져옴
for data in rows:
    print(data)
print()

(1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19))
(2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19))
(3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19))
(4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19))
(5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19))
(6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19))

In [46]:
# 데이터 프레임 형태로 변환
language_df=pd.DataFrame(rows)
print(language_df)

   0         1                   2
0  1   English 2006-02-15 05:02:19
1  2   Italian 2006-02-15 05:02:19
2  3  Japanese 2006-02-15 05:02:19
3  4  Mandarin 2006-02-15 05:02:19
4  5    French 2006-02-15 05:02:19
5  6    German 2006-02-15 05:02:19

In [47]:
# 컬럼명도 같이 가져왔을때 사용 가능
#print(language_df['name'])

In [48]:
# 복잡한 쿼리 실행

query="""
select c.email from customer as c
    inner join rental as r
    on c.customer_id=r.customer_id
where date(r.rental_date)=(%s)"""

cur.execute(query,('2005-06-14'))
rows=cur.fetchall()  #모든 데이터를 가져옴
for row in rows:
    print(row)

('CATHERINE.CAMPBELL@sakilacustomer.org',)
('JOYCE.EDWARDS@sakilacustomer.org',)
('AMBER.DIXON@sakilacustomer.org',)
('JEANETTE.GREENE@sakilacustomer.org',)
('MINNIE.ROMERO@sakilacustomer.org',)
('GWENDOLYN.MAY@sakilacustomer.org',)
('SONIA.GREGORY@sakilacustomer.org',)
('MIRIAM.MCKINNEY@sakilacustomer.org',)
('CHARLES.KOWALSKI@sakilacustomer.org',)
('DANIEL.CABRAL@sakilacustomer.org',)
('MATTHEW.MAHAN@sakilacustomer.org',)
('JEFFERY.PINSON@sakilacustomer.org',)
('HERMAN.DEVORE@sakilacustomer.org',)
('ELMER.NOE@sakilacustomer.org',)
('TERRANCE.ROUSH@sakilacustomer.org',)
('TERRENCE.GUNDERSON@sakilacustomer.org',)

In [49]:
cur.close()
conn.close()  # 데이터 베이스 연결 종료